*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: cornflowerblue;
}

h1{
font-size: 50px;
font-family: sans-serif;
padding: 10px;
margin: 0px;
color: coral;
}

nav {
display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

li {
font-size: 25px;
padding: 10px;
}

li a {
  color: rgb(218, 176, 123);
}

li a:hover{
  color: darkorange;
}


.hero {
  background-image: url(https://i.imgur.com/IJCoogH.jpg);
  background-size: cover;
  height: 200px;

}
.hero p {
  font-size: 80px;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  color: rgb(57, 56, 59);

}

span {
  font-size: 100px;
  color: coral;
}


#about-me {
  display: flex;
  justify-content: space-between;
}

#about-me h2 {
  display: flex;
  margin: 50px;
  font-size: 40px;
  color: coral;
  border-right-style: solid;
  border-right-width: thick;
  border-right-color: dodgerblue;
}
#about-me p {
  font-size: 20px;
  font-family: sans-serif;
  justify-content: space-between;
  text-align: left;
}


.work{
display: flex;

}

.work h2{
  font-size: 50px;
  color: coral;
  margin: 50px;
  border-right-style: solid;
  border-right-width: thick;
  border-right-color: dodgerblue;
}

.work-photos {
  display: flexbox;
  
  
}



#lighthouse {
  display: flexbox;
  height: 300px;
  width: 1200px;
border: darkblue;
border-style: solid;
border-right-width: 3px;
}

#blue-hat {
  display: inline-flex;
  flex-direction: row;
  height: 400px;
  width: 400px;
  justify-content: center;
  border-style: solid;
  border-color: coral;
  border-width: thick;
  margin-left: 100px;
}

#green-hat {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  width: 400px;
  margin-left: 150px;
  border-style: solid;
  border-color: coral;
  border-width: thick;
}

#contact-me {
  display: flex;
}


#contact-me h2 {
  display: inline-flex;
  font-size: 50px;
  color: coral;
  border-right-style: solid;
  border-right-color: dodgerblue;
  border-right-width: thick;
}

#contact-me p{
  display: flex;
  justify-content: center;
  padding: 30px;
  font-size: 30px;
  color: blue;
}
  
}
.footer h2{
  justify-content: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(231, 131, 0);
  text-align: center;
  color: whitesmoke;
}
