*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
background: rgb(0,52,193);background: radial-gradient(circle, rgba(0,52,193,0.6923144257703081) 0%, rgba(0,146,233,0.9864320728291317) 100%);
}

section {
  padding: 60px;
}

/*  styling for the header  */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: radial-gradient(circle, rgba(58,131,255,0.8071603641456583) 59%, rgba(89,25,218,0.9668242296918768) 100%);
}

h1{
font-size: 50px;
font-family: sans-serif;
padding: 10px;
margin: 0px;
color: coral;
}

/*  styling for the nab bar in header */
nav {
display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

li {
font-size: 25px;
padding: 10px;
}

li a {
  color: rgb(218, 176, 123);
}

li a:hover{
  color: darkorange;
}


/*  styling for the hero element */
.hero {
  background-image: url(https://i.imgur.com/IJCoogH.jpg);
  background-size: cover;
  height: 200px;

}
.hero p {
  font-size: 80px;
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  color: rgb(57, 56, 59);

}

span {
  font-size: 100px;
  color: coral;
}


#about-me {
  display: flex;
  justify-content: space-between;
}

#about-me h2 {
  display: flex;
  margin: 50px;
  font-size: 40px;
  color: coral;
  border-right-style: solid;
  border-right-width: thick;
  border-right-color: dodgerblue;
}

#about-me p {
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
}


.work-photos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 3vw);
    grid-gap: 20px;
}


.work h2{
  text-align: center;
  font-size: 50px;
  color: coral;
  margin: 50px;
}


/*  styling and positioning of the images  */
.work-photos .grid #adaigo-element {
height: 300px;
width: 300px;
border: darkblue;
border-style: solid;
border-right-width: 3px;
}

.work-photos .grid #password-generator {
  display: flex;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-color: coral;
  border-width: thick;
  margin-left: 100px;
}

.work-photos .grid #mycipe {
  float: right;
  height: 300px;
  width: 300px;
  margin-left: 150px;
  border-style: solid;
  border-color: coral;
  border-width: thick;
}


.contact h2{
  display: inline-flex;
  font-size: 50px;
  color: coral;
  border-right-style: solid;
  border-right-color: dodgerblue;
  border-right-width: thick;
}

.contact {
  margin: 50px;
  display: flex;
  justify-content: left;
  padding: 30px;
  color: blue;
}

.footer h2{
  justify-content: center;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(231, 131, 0);
  text-align: center;
  color: whitesmoke;
}
